@font-face {
  font-family: Quinta;
  src: url('/fonts/Gidole-Regular.otf');
}

body {
	margin: 0;
  padding: 0;
  font-family: "Quinta";
  line-height: 1.5;
  background-color: #d3d3d3;
}

h1, h2, h3, p {
	margin: 0;
}
